$text-color: rgba(28, 28, 28, 1);
$accent-color: rgb(120, 34, 72);

*{
	box-sizing: border-box;
}

body,
ul,
li,
p,
h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

body{
	color: $text-color;
	font-family: 'Open Sans', sans-serif;
}

a{
	color: $text-color;
	&:hover {
		color: $accent-color;
	}
}

ul,
li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
}

.site-wrapper {
	font-size: 0;
	margin: 0 auto;
	max-width: 800px;
	padding: 20px;
}

.site-link {
	display: block;
	margin-bottom: 10px;
	text-decoration: none;

	&.current {
		text-decoration: line-through;
		cursor: default;
		&:hover {
			color: $text-color;
		}
	}
}
.site-nav,
.site-main {
	letter-spacing: 0.14em;
	line-height: 2em;
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
}

.site-main {
	width: calc(100% - 200px);
	@media screen and (max-width: 500px) {
		display: block;
		width: 100%;
	}
	a {
		text-decoration: none;
		color: $accent-color;
	}
}

.site-nav {
	width: 200px;
	@media screen and (max-width: 500px) {
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}

}

.site-footer{
	padding: 20px;
}
.photo-series {
	margin-top: 30px;
}

.photo-series__title {
	font-size: 18px;
	letter-spacing: 0.1em;
	font-weight: normal;
	margin-bottom: 20px;
}

.homepage-image{
	filter: grayscale(75%);
	margin-top: 20px;
}

.image-container {
	margin-left: 50px;

	img {
		-webkit-filter: grayscale(50%);
		&:hover {
			-webkit-filter: none;
		}
	}
}
