//Links
a, a:hover, a:active{
	text-decoration: none;
	color: $black;
}
body{
	padding: 0 20px;
}
header{
	@include span-columns(12 of 12);
	@include row();
	text-align: center;
}

.break:before{
	content: ' t ';
	font-size: .6em;
	margin: 0 .4em;
	vertical-align: middle;
	color: $action;
	display: inline-block;
	transform: rotate(180deg);
}