
//Includes
@include font-face("alternative", "/fonts/guilder-alternative-webfont", $file-formats: svg eot ttf woff);

@include font-face("guilder", "/fonts/guilder-webfont", $file-formats: eot ttf woff);

//Font Family Mixins
$h1: "alternative", Helvetica, Arial;
$body: "guilder", Helvetica, Arial;

//Type styles
body{
	font-family: $body;
	font-size: 48px;
	@include media(max-width 1080px){
		font-size: 40px;
	}
	@include media(max-width 900px){
		font-size: 32px;
	}
}
h1{
	font-family: $h1;
	font-size: 4em;
	line-height: 1em;
	margin: 0;
	@include media(max-width 700px){
		font-size: 3em;
		font-family: $body;
	}
	@include media(max-width 530px){
		font-size: 2em;
	}
	@include media(max-width 320px){
		font-size: 1em;
	}
}
h1, h2, h3, h4{
	font-weight: normal;
}

p{
	margin: .3em 0;
}
.title{
	color: $action;
}